<section>
  <mat-card class="home">
    <mat-card-title class="title"
      ><strong>INFRAÇÃO</strong> | GERAL</mat-card-title
    >
    <mat-card-subtitle class="subtitle"
      >Sistema de controle para infrações</mat-card-subtitle
    >
  </mat-card>

  <div class="info">
    <mat-card class="info-cards">
      <div class="metric-cards">
        <mat-card-title class="title"> 238 </mat-card-title>
        <mat-card-subtitle class="subtitle">Carros</mat-card-subtitle>
      </div>
      <img src="assets/car.png" alt="veiculo" />
    </mat-card>

    <mat-card class="info-cards">
      <div class="metric-cards">
        <mat-card-title class="title"> 84 </mat-card-title>
        <mat-card-subtitle class="subtitle">Carros</mat-card-subtitle>
      </div>
      <img src="assets/moto.png" alt="veiculo" />
    </mat-card>

    <mat-card class="info-cards">
      <div class="metric-cards">
        <mat-card-title class="title"> 5 </mat-card-title>
        <mat-card-subtitle class="subtitle">Carros</mat-card-subtitle>
      </div>
      <img src="assets/truck.png" alt="veiculo" />
    </mat-card>
  </div>
</section>
